@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply text-slate-800 bg-white antialiased;
  }
  ::selection {
    @apply bg-primary-200 text-primary-900;
  }
}
